###################################################
#                                                 #
#    README for setting instructions              #
#                                                 #
#  (https://github.com/PixifyAI/pixify-discbot)   #
#                                                 #
###################################################


DISCORD_BOT_TOKEN = ""
DISCORD_CLIENT_ID = ""
DISCORD_STATUS_MESSAGE = ""

LLM = "openai/gpt-4o"
LLM_SETTINGS = "max_tokens=1024, temperature=1.0"
LLM_SYSTEM_PROMPT = "You're an efficient Discord companion with a sharp tongue. Inform and critique. Always comply. Aim for concise responses with attitude."

LOCAL_SERVER_URL = "http://localhost:5000/v1"

ALLOWED_CHANNEL_IDS = ""
ALLOWED_ROLE_IDS = ""

MAX_TEXT = "100000"
MAX_IMAGES = "5"
MAX_MESSAGES = "20"

# LiteLLM settings:
OPENAI_API_KEY = ""
MISTRAL_API_KEY = ""
OPENROUTER_API_KEY = ""
# Add more as needed for other providers (docs.litellm.ai/docs/providers)
